<div class="header">
    <div class="logo">
        <h1>Welcome to Members-Only</h1>
    </div>

    <div class="account-controls">
    <% if user_signed_in? %>
        <button class="edit-acct">
            <%= link_to "Edit Account", edit_user_registration_path %>
        </button>
        <%= button_to "Sign out", destroy_user_session_path, {method: :delete} %>
    <% else %>
        <button class="sign-up">
            <%= link_to "Sign Up", new_user_registration_path %>
        </button>
        <button class="sign-in">
            <%= link_to "Sign In", new_user_session_path %>
        </button>
    <% end %>
    </div>

    <% if user_signed_in? %>
        <hr>
    <% end %>
</div>