<%= render "header" %>

<h2>Posts by the Members</h2>
<% if user_signed_in? %>
    <div class="post-controls">
        <%= link_to "Create a new post", new_post_path %>
    </div>
<% end %>

<%= render @posts %>
