<%= render "header" %>

<% if @posts %>
    <% @posts.each do |post| %>
        <hr>
        <div class="post">
            <h3 class="post_title">Title: <%= post.title %></h1>
            <% if @logged_in %>
                <p class="post_author">Author: <%= post.user.username %></p>
            <% end %>        
            <p class="post_body"><%= post.body %></p>
        </div>
    <% end %>
<% end %>
